* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root {
  /* Colors */
  --red: #D31F26;
  --blue: #003047;
  --black: #231F20;
  --gray: #E6E7E8;
  --orange: #F77F00;
  --yellow: #FCBD49;
  --light-yellow: #EAE2B7;

}

/* Font Imports */
@font-face {
  font-family: 'Nebula-Regular';
  src: url('./assets/fonts/nebula/Nebula-Regular.otf');
}

@font-face {
  font-family: 'Nebula-Hollow';
  src: url('./assets/fonts/nebula/Nebula-Hollow.otf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('./assets/fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('./assets/fonts/raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Black';
  src: url('./assets/fonts/raleway/Raleway-Black.ttf');
}

/* Font Global Classes */

.nebula-regular {
  font-family: 'Nebula-Regular', sans-serif;
}

.nebula-hollow {
  font-family: 'Nebula-Hollow', sans-serif;
}

.raleway-regular {
  font-family: 'Raleway-Regular', sans-serif;
}

.raleway-black {
  font-family: 'Raleway-Black', sans-serif;
}

.raleway-bold {
  font-family: 'Raleway-Bold', sans-serif;
}

/* Utility Global Classes */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.grid {
  display: grid;
}

/* Global CSS */

body {
  background-color: #E6E7E8;
}