.header-container {
    padding: 1rem;
    border-radius: 15px;
    width: calc(100% - 10rem);
    background-color: var(--blue);
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    margin: 1rem 0;
}

.logo img {
    max-width: 15rem;
}

.nav-links {
    gap: 1rem;
}

.nav-links p {
    cursor: pointer;
    color: var(--gray);
    transition: all .2s;
    margin: 0;
}

.nav-links p:hover {
    color: var(--red);
}

.nav-links a {
	text-decoration: none;
}

.social-logos {
    gap: .5rem;
}

.social-logo {
    color: var(--gray);
    font-size: 2rem;
    background-color: var(--red);
    border-radius: 50%;
    padding: 0.3rem;
    cursor: pointer;
    transition: all .2s;
}

.x:hover {
    background-color: var(--black);
}

/* Responsive */

@media screen and (max-width: 1024px) {
    .header-container {
        width: calc(100% - 6rem);
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        width: calc(100% - 2rem);
    }
}