.header-container {
    padding: 1rem;
    margin: 1rem 2rem;
    border-radius: 10px;

    background-color: var(--blue);
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 15rem;
}

.nav-links {
    gap: 1rem;
}

.nav-links p {
    cursor: pointer;
    color: var(--gray);
    transition: all .2s;
}

.nav-links p:hover {
    color: var(--red);
}

.social-logos {
    gap: .5rem;
}

.social-logo {
    color: var(--gray);
    font-size: 2rem;
    background-color: var(--red);
    border-radius: 50%;
    padding: 0.3rem;
    cursor: pointer;
    transition: all .2s;
}

.x:hover {
    background-color: var(--black);
}