.nosotros-container {
    padding: 8rem 4rem 4rem 4rem;
    margin: 1rem;
    border-radius: 15px;

    background-color: var(--black);
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.staff-image {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.staff-name {
    color: var(--red);
    text-align: center;
    font-size: 1.5rem;
}

.staff-occupation {
    color: var(--gray);
    text-align: center;
}